# requirements.txt
Flask
flask-cors
python-dotenv
requests
stripe
supabase
PyJWT
gunicorn
openai
paypalrestsdk
flask
flask-cors
gunicorn
openai
paypalrestsdk
PyJWT
python-dotenv
requests
stripe
supabase
openai
